.layout {
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);
  height: 100vh;
  /* overflow: hidden; */
}

.main {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.canvas-container {
  width: 100%;
  background-color: darkblue;
}

.sidebar {
  padding: 10px;
  overflow-y: auto;
}

.history-list {
  margin-top: 10px;
}

.history-list > * + * {
  margin-top: 10px;
}

.card {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: 1px solid gray;
}

.card > * {
  min-width: 0;
}

.card-image {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
}
